

@font-face {
    font-family: 'digital7';
    src: url('polices/digital-7/digital-7.ttf');
}

/* 
Pour les styles css il n'est pas recommandé d'utiliser les balises. 
Il vaut mieux créer des classes 
*/

body {
    background-color: black;
    /* mets ta font-family ici, ça évite les répétitions (DRY => don't repeat yourself)  */
    /* pareil pour la color */
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
li {
    display: inline-block;
}

#canvas {
    margin-left: 625px;
    margin-top: 30px;
    border: 1px solid white;
}

h1 {
    font-family: digital7;
    color: palegreen;
    text-align: center;
    font-size: 80px;
}

p, #player-score, #computer-score {
    font-family: digital7;
    font-size: 25px;
    text-align: center;
    color: palegreen;
    font-size: 80px;
}

button {
    font-family: digital7;
    background-color: black;
    color: palegreen;
    border: 1px solid palegreen;
}

button:hover {
    background-color: white;
    color: black;
}